<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add station to favorites</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddFavorite()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addFavorite(station); station = ''">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="station" placeholder="Station">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
