<ion-view view-title="Route">
  <ion-nav-buttons side="secondary">
    <button ng-click="showBuyTicket()" class="button button-positive">Ticket kaufen</button>
  </ion-nav-buttons>
  
  <ion-content>
  <div delegate-handle="contentScroll" on-scroll="onContentScroll()" header-shrink scroll-event-interval="5">
    <div class="map">
      <img src="img/sbb.jpg" />
    </div>
    
    <ul class="timeline" style="margin-right:10px;">
        <li ng-repeat="section in route.sections">
          <div class="timeline-badge"><i class="icon ion-android-subway"></i></div>
          <div class="timeline-panel">
            <div class="timeline-body">
                <div>
                  <span style="font-weight: bolder;">{{section.departure.departure | date:'HH:mm'}} {{section.departure.station.name}}</span>
                  <span style="float:right;">Pl. {{section.departure.platform}}</span>
                </div>
                <div style="margin:15px; color:#525252">{{section.journey.name}} Richtung {{section.journey.to}}</div>
                <div>
                  <span style="font-weight: bolder;">{{section.arrival.arrival | date:'HH:mm'}} {{section.arrival.station.name}}</span>
                  <span style="float:right;">Pl. {{section.arrival.platform}}</span>
                </div>
              </div>
          </div>
        </li>
      </ul>
  </div>
  </ion-content>
</ion-view>
<!--
<ion-view view-title="Details">
<ion-content class="padding">
  <div class="list list-inset">
    <div class="item item-icon-right">
      <div><b>{{getRouteType(searchRoute.data.activeButton)}}</b></div>
      <div style="width: 25%; float: left;">Wann</div><div>{{currentRoute.from.departureTimestamp*1000 | date:'dd.MM.yyyy HH:mm'}}</div>
      <div style="width: 25%; float: left;">Dauer</div><div>{{((currentRoute.to.arrivalTimestamp - currentRoute.from.departureTimestamp)-3600)*1000 | date:'HH:mm'}}</div>
    </div>
  </div>
</ion-content>
</ion-view>-->
