<ion-view view-title="Results">
  <ion-content class="padding">
      <div class="item item-icon-right item-divider">
        <div style="width: 25%; float: left;">From</div><div>{{routeDetails.from}}</div>
        <div style="width: 25%; float: left;">To</div><div>{{routeDetails.to}}</div>
        <div style="width: 25%; float: left;">Earliest</div><div>{{routeDetails.departureTimeStart}}</div>
        <div style="width: 25%; float: left;">Latest</div><div>{{routeDetails.departureTimeEnd}}</div>
        <div>
          <span ng-if="searchRoute.data.date">{{route.date | date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
      <div class="item col-header item-icon-right">
        <div style="float:left; width:25%">From</div>
        <div style="float:left; width:25%">To</div>
        <div style="float:left; width:25%">Duration</div>
        <div style="float:left; width:25%">Changes</div>
      </div>
      <a class="item item-icon-right" ng-repeat="(key, route) in route.connections" href="#/tab/journey/results/detail/{{key}}">
        <div style="float:left; width:25%">{{route.sections[0].departure}}</div>
        <div style="float:left; width:25%">{{route.sections[route.sections.length-1].arrival}}</div>
        <div style="float:left; width:25%">{{((route.to.departureTimeEnd - result.from.departureTimeStart)) | date:'HH:mm'}}</div>
        <div style="float:left; width:25%">{{route.sections.length}}</div>
        <i class="icon ion-chevron-right icon-accessory" style="color:red;"></i>
      </a>
  </ion-content>
</ion-view>
