<ion-view view-title="Favorites">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-edit" href="#/tab/favorites/settings"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="padding card">
      <strong>Favorites</strong>
      <div class="row" ng-repeat="favorite in settings.favorites" ng-if="$index % 3 == 0">
        <a class="col" ng-click="toggle($index)" ng-class="{'selectedRed': places[$index].isActive}">
          <img ng-src="img/{{places[$index].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.favorites[$index].name}}
        </a>
        <a class="col" ng-click="toggle($index+1)" ng-class="{'selectedRed': places[$index+1].isActive}">
          <img ng-src="img/{{places[$index+1].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.favorites[$index+1].name}}
        </a>
        <a class="col" ng-click="toggle($index+2)" ng-class="{'selectedRed': places[$index+2].isActive}">
          <img ng-src="img/{{places[$index+2].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.favorites[$index+2].name}}
        </a>
        <!-- <a class="col col-25" ng-click="toggle($index+3)" ng-class="{'selectedRed': places[$index+3].isActive}">
          <img ng-src="img/{{places[$index+3].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{places[$index+3].name}}
        </a> -->
      </div>
    </div>
    <div class="padding card">
      <strong>Recent stations</strong>
      <div class="row" ng-repeat="favorite in settings.frequentlyUsed | orderBy:'-counter'" ng-if="$index % 3 == 0">
        <a class="col" ng-click="toggle($index)" ng-class="{'selectedRed': places[$index].isActive}">
          <img ng-src="img/{{places[$index].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.frequentlyUsed[$index].name}}
        </a>
        <a class="col" ng-click="toggle($index+1)" ng-class="{'selectedRed': places[$index+1].isActive}">
          <img ng-src="img/{{places[$index+1].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.frequentlyUsed[$index+1].name}}
        </a>
        <a class="col" ng-click="toggle($index+2)" ng-class="{'selectedRed': places[$index+2].isActive}">
          <img ng-src="img/{{places[$index+2].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{settings.frequentlyUsed[$index+2].name}}
        </a>
        <!-- <a class="col col-25" ng-click="toggle($index+3)" ng-class="{'selectedRed': places[$index+3].isActive}">
          <img ng-src="img/{{places[$index+3].source}}" style="max-width: 100%; max-height: 100%;"/>
          {{places[$index+3].name}}
        </a> -->
      </div>

  </ion-content>
</ion-view>
