<ion-view view-title="Journey">
  <ion-content>

    <!-- Input Abfahrtort und Ankunftsort -->

    <div class="card padding">
      <label class="item item-input">
        <input type="text" ng-model="journeyDetails.from" placeholder="From">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="journeyDetails.to" placeholder="To">
      </label>
    </div>

    <div class="padding" style="margin-top: -20px; margin-bottom: -10px;">
      <div class="row card">
        <div class="col col-50" style="border-right: #B2B2B2 solid thin;">

          <!-- Input Time Start -->

          <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
            <button class="button button-clear button-stable" style="margin-top: -10px; margin-bottom: -10px;">
              {{journeyDetails.departureTimeStart}}
            </button>
          </ionic-timepicker>
        </div>
        <!-- Input Time End -->

        <div class="col col-50">
            <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallbackEnd">
              <button class="button button-clear button-stable" style="margin-top: -10px; margin-bottom: -10px;">
                {{journeyDetails.departureTimeEnd}}
              </button>
            </ionic-timepicker>
        </div>
      </div>
    </div>

    <div class="padding card">
      <div class="row" ng-repeat="item in places" ng-if="$index % 3 == 0">
          <a class="col" ng-click="toggle($index)" ng-class="{'selectedRed': places[$index].isActive}">
            <img ng-src="img/{{places[$index].source}}" style="max-width: 100%; max-height: 100%;"/>
            {{places[$index].name}}
          </a>
          <a class="col" ng-click="toggle($index+1)" ng-class="{'selectedRed': places[$index+1].isActive}">
            <img ng-src="img/{{places[$index+1].source}}" style="max-width: 100%; max-height: 100%;"/>
            {{places[$index+1].name}}
          </a>
          <a class="col" ng-click="toggle($index+2)" ng-class="{'selectedRed': places[$index+2].isActive}">
            <img ng-src="img/{{places[$index+2].source}}" style="max-width: 100%; max-height: 100%;"/>
            {{places[$index+2].name}}
          </a>
          <!-- <a class="col col-25" ng-click="toggle($index+3)" ng-class="{'selectedRed': places[$index+3].isActive}">
            <img ng-src="img/{{places[$index+3].source}}" style="max-width: 100%; max-height: 100%;"/>
            {{places[$index+3].name}}
          </a> -->
      </div>
    </div>

    <!-- Send Button -->
    <button class="button button-full button-assertive" ng-click="search()">
      Search
    </button>

  </ion-content>
</ion-view>
