<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Subscriptions
      </div>
      <li class="item item-checkbox" ng-repeat="option in settingsOptions.subscriptions">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        {{option.name}}
      </li>
      <div class="item item-divider">
        Offline
      </div>
      <ion-toggle ng-model="settings.isOffline" toggle-class="toggle-calm">
        Activate offline mode
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
