<ion-view view-title="Schedule">

  <ion-content>

  <div delegate-handle="contentScroll" on-scroll="onContentScroll()" header-shrink scroll-event-interval="5">
    <div class="map" style="margin-bottom: 20px">
      <img src="img/bahnhof.jpg" />
    </div>
<!--
    <div class="button-bar padding">
      <a class="button button-small button-outline button-assertive" ng-click="activeButton = 0" ng-class="{'active' : activeButton == 0}">New route</a>
      <a class="button button-small button-outline button-assertive" ng-click="activeButton = 1" ng-class="{'active' : activeButton == 1}">Saved</a>
    </div>-->
    <!-- Input Abfahrtort und Ankunftsort -->

    <div class="card">
      <label class="item item-input">
        <input type="text" ng-model="routeDetails.from" placeholder="From">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="routeDetails.to" placeholder="To">
      </label>
    </div>

    <div class="padding" style="margin-top: -20px; margin-bottom: -10px;">
      <div class="row card">
        <div class="col col-50" style="border-right: #B2B2B2 solid thin;">

          <!-- Input Time Start -->

          <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
            <button class="button button-clear button-stable" style="margin-top: -10px; margin-bottom: -10px;">
              {{routeDetails.departureTimeStart}}
            </button>
          </ionic-timepicker>
        </div>
        <!-- Input Time End -->

        <div class="col col-50">
            <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallbackEnd">
              <button class="button button-clear button-stable" style="margin-top: -10px; margin-bottom: -10px;">
                {{routeDetails.departureTimeEnd}}
              </button>
            </ionic-timepicker>
        </div>
      </div>
    </div>

    <!-- Send Button -->
    <button class="button button-full button-assertive" ng-click="search()">
      Search
    </button>

  </div>

  </ion-content>
</ion-view>
