<ion-view view-title="Favorites">
  <ion-nav-buttons side="secondary">
    <button ng-click="showAddFavorite()" class="button button-icon icon ion-ios-compose-outline"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="favorite in settings.favorites">
        {{favorite.name}}
        <ion-option-button class="button-assertive"
                           ng-click="settings.favorites.splice($index, 1)">
          Delete
        </ion-option-button>
      </ion-item>
      <div class="item item-divider">
        Frequently used stations
      </div>
      <ion-item ng-repeat="favorite in settings.frequentlyUsed | filter:{isDeleted:false}">
        {{favorite.name}}
        <ion-option-button class="button-assertive"
                           ng-click="deleteFrequentlyUsed(favorite)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
