<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light">

  <!-- Favorites -->
  <ion-tab class="assertive" title="Favorites" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Schedule -->
  <ion-tab class="assertive" title="Schedule" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Roundtrip -->
  <ion-tab class="assertive" title="Journey" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/journey">
    <ion-nav-view name="tab-journey"></ion-nav-view>
  </ion-tab>

  <!-- Settings -->
  <ion-tab class="assertive" title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
