.scroll-content{
  z-index: 11;
  background-color: white;
}

.list{
  box-shadow: 0 -50px 150px rgba(0,0,0,.5);
}

.map{
  position: relative;
  padding-bottom: 46.25%;
  padding-top: 44px; overflow: hidden;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.selectedRed {
  border: solid 2px red;
}