<div class="24HourTimePickerChildDiv">
  <div class="row">
    <span class="button-small col col-offset-20 col-25">
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
              ng-click="increaseHours()" style="margin:0 auto; display:block;">
        <i class="icon ion-chevron-up"></i></button>
      <input type="text" placeholder="" ng-model="time.hours" class="ipBoxes timePickerBoxText" disabled>
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
              ng-click="decreaseHours()" style="margin:0 auto; display:block;">
        <i class="icon ion-chevron-down"></i></button>
    </span>
    <label class="col col-10 timePickerColon"> : </label>
    <span class="button-small col col-25">
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
              ng-click="increaseMinutes()" style="margin:0 auto; display:block;"><i class="icon ion-chevron-up"></i></button>
      <input type="text" placeholder="" ng-model="time.minutes" class="ipBoxes timePickerBoxText" disabled>
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
              ng-click="decreaseMinutes()" style="margin:0 auto; display:block;"><i class="icon ion-chevron-down"></i></button>
    </span>
  </div>
</div>